!!! 5
%html{lang: 'en'}
  %head
    %link{rel: 'stylesheet', href: '/style.css'}
    %link{rel: 'stylesheet', href: '/highlight.css'}
    %link{rel: 'stylesheet', href: '//cdn.jsdelivr.net/g/normalize'}
    %title
      Kifkif -
      = "White Aldus"
  %body
    %header
    .yield= yield
    %footer
    %script{src: '//cdn.jsdelivr.net/g/domready@1,prefixfree@1'}
    %script{src: '/script.js'}
