!!! 5
%html{lang: 'en'}
  %head
    %link{rel: 'stylesheet', href: '/style.css'}
    %link{rel: 'stylesheet', href: '/highlight.css'}
    %link{rel: 'stylesheet', href: '//cdn.jsdelivr.net/g/bootstrap@3(css/bootstrap.min.css+css/bootstrap-theme.min.css)'}
    %script{src: '//cdn.jsdelivr.net/g/prefixfree@1', async: true}
    %title
      Kifkif -
      = "White Aldus"
  %body= yield
